//colors
$white: #fff;
$black_5: rgba(0,0,0,0.05);
$black: #000;
$color_mountain_mist_approx: #999;
$white_75: rgba(255,255,255,.75);
$color_alabaster_approx: #f9f9f9;
$black_85: rgba(0,0,0,0.85);
$color_celeste_approx: #ccc;
$color_storm_dust_approx: #666;
$color_alto_approx: #ddd;
$color_science_blue_approx: #0069d9;
$black_1: rgba(0,0,0,.01);
$color_tapa_approx: #777;
$red: #ff0000;
$site: #007bff;